<% visite = typeof visite !=='undefined' ? visite : '0' %>

  
  <div class="conteneur">
    <%- include('../partials/menu') -%>

    <div class="dashcenter">
      <!-- Tableau de bord utilisateur MENU -->
      <nav class="navuser">
        <a href="/catways?page=findAllCatway">Affiché tout les catways</a>
        <a href="/catways?page=findOneCatway">Recherché un catway</a>
        <a href="/catways?page=createCatway">Ajouter un catway</a>
        <!-- modifier et supprimer a inclure dans la page d'utilisteur unique -->
        <a href="/modify">modifier</a>
        <a href="/delete">Supprimer</a>
      </nav>
      <!-- Fin du menu du tableau de bord utilisateur -->

      <section class="section">
        <!-- partie visite pour controle de la gestion des sessions -->
        <h2>Catways visite : <%= session.visit %></h2>
        <p>
        <% if (typeof session.email !=='undefined') { %>
        <p>Bienvenue <%= session.email %></p>
        <% } else { %>
        <p class="errmess">email manquant</p> 
        <% } %>
        </p>

        <!-- Affichage du centre de la page-->
        <div >
          <% if (typeof session.page !== 'undefined') { %>
          <% if (session.page === 'findAllCatway') { %>
            <div>
              <p>Afficher toutes les réservations</p>
            </div>
          <% } else if (session.page === 'findOneCatway') { %>
            <div>
              <%- include('../partials/catway/Form_find_catway') -%>
            </div>
          <% } else if (session.page === 'createCatway') { %>
            <div>
              <%- include('../partials/catway/Form_create_catway') -%>
            </div>
          <% } %>
        <% } else { %>
          <p class="errmess">Variable page manquante</p>
        <% } %>
        </div>
        <!-- affichage de l'email demandé -->
        <% if (typeof afficheCatway !== 'undefined') {  %>
        <div id="reponce"> <%= afficheCatway %></div>
        <%  } %>
        
      </section>

    </div>
    <aside class="aside">
        <p>Aside catways Layout</p>
        <p>visite : <%= session.visit %></p>
        <p>page = <%= session.page %></p>
        <p>email = <%= session.email %></p>
   
    </aside>
  </div>
