    <% visite = typeof visite !=='undefined' ? visite : '0' %>

    
    <div class="conteneur">
        <%- include('../partials/menu') -%>

        <div class="dashcenter">
        <!-- Tableau de bord utilisateur MENU -->
        <nav class="navuser">
            <a href="/catways?page=findAllCatway">Affiché tout les catways</a>
            <a href="/catways?page=findOneCatway">Recherché un catway</a>
            <a href="/catways?page=createCatway">Ajouter un catway</a>
        </nav>
        <!-- Fin du menu du tableau de bord utilisateur -->

        <section class="section">
            <!-- partie visite pour controle de la gestion des sessions -->
            <h2>Catways visite : <%= session.visit %></h2>
            <p>
            <% if (typeof session.email !=='undefined') { %>
            <p>Bienvenue <%= session.email %></p>
            <% } else { %>
            <p class="errmess">email manquant</p> 
            <% } %>
            </p>

            <!-- Affichage du centre de la page-->
            <div >
            <% if (typeof session.page !== 'undefined') { %>
                <% if (session.page === 'findAllCatway') { %>
                    <div>
                        <h3>Toutes les catways</h3>
                        <% if (typeof allCatways !== 'undefined' && allCatways.length > 0) { %>
                        <table>
                            <thead>
                                <td>Numero</td><td>Type</td><td>Etat</td><td>Reservation</td><td></td>
                            </thead>
                            <tbody>
                            <% allCatways.forEach(function(catways) { %>
                            <tr>
                                <td><%= catways.catwayNumber %></td>
                                <td><%= catways.catwayType %></td>
                                <td><%= catways.catwayState %></td>
                                <td><a href="/catways/<%= catways.catwayNumber %>/reservations?page=findForCatway">Reservation du catway</a></td>
                                <td><a href="/catways/<%= catways.catwayNumber %>?page=modifyCatway">Modifier le catway</a></td>
                            </tr>
                            <% }); %>
                            </tbody>
                            <tfoot>
                                <td>Numero</td><td>Type</td><td>Etat</td><td>Reservation</td><td></td>
                            </tfoot>
                        </table>
                        <% } else { %>
                            <p>Aucun catway trouvée.</p>
                        <% } %>
                    </div>
                <% } else if (session.page === 'findOneCatway') { %>
                    <div>
                        <%- include('../partials/catway/Form_find_catway') -%>
                    </div>
                <% } else if (session.page === 'createCatway') { %>
                    <div>
                        <%- include('../partials/catway/Form_create_catway') -%>
                    </div>
                <% } else if (session.page === 'modifyCatway') {%>
                    <div>
                        <%- include('../partials/catway/Form_modify_catway') -%>
                    </div>
                <% } else { %>
                    <p class="errmess">Variable page manquante</p>
            <% }} %>
            </div>
            <!-- affichage de l'email demandé -->
            <% if (typeof afficheCatway !== 'undefined') {  %>
            <div id="reponce"> <%= afficheCatway %></div>
            <%  } %>
            
        </section>

        </div>
		<%- include('../partials/Aside')-%>
    </div>
