<% 
	style = new Intl.DateTimeFormat("fr-FR", {year:"numeric", month:"long", weekday:"long", day:"numeric"});
	dt = new Date();
	date = style.format(dt)
%>
<main>
	<div class="conteneur">
		<%- include('../partials/menu') -%>

		<div class="dashcenter">
				<%- include('../partials/User_connected')-%>
			<!-- Tableau de bord utilisateur MENU -->
			<nav class="navuser">
				<a href="/users?page=findAllUsers">Utilisateur</a>
				<a href="/catways?page=findAllCatway">Catways</a>
				<a href="/catways/reservations">Reservation</a>
			</nav>
			<!-- Fin du menu du tableau de bord utilisateur -->
			
			<section class="section">
				<!-- partie visite pour controle de la gestion des sessions -->
				<h2>Tableau de bord</h2>
				<!-- Message d'acceuil contenant la date du jours ainsi le nom et l'email de la personne connecté-->
				<div>
					<% if (typeof session !=='undefined') { %>
						<% if (typeof reservations !== 'undefined' && reservations.length > 0) { %>
						<table>
							<thead>
								<td>Numéro du catway</td><td>Nom du client</td><td>Nom du bateau</td><td>Date de début</td><td>Date de fin</td><td></td>
							</thead>
							<% reservations.forEach(function(res) { %>
							<tr>
								<td> <%= res.catwayNumber %></td>
								<td><%= res.clientName %> </td>
								<td><%= res.boatName %> </td>
								<td><%= new Date(res.startDate).toLocaleDateString('fr-FR') %> </td> 
								<td><%= new Date(res.endDate).toLocaleDateString('fr-FR') %></td>
								<td><a href="/catways/<%= res.catwayNumber %>/reservations/<%= res._id %>?page=findOneReserv" class="afficher">Affiché</a></td>
							</tr>
							<% }) %>
						</table>
						<% } else { %>
						<p>Aucune réservation en cours.</p>
						<% } %>
					
					<% } else { %>
					<p class="errmess">session manquante</p> 
					<% } %>
				</div>
			</section>
		</div>
	</div>
</main>
