<% visite = typeof visite !=='undefined' ? visite : '0' %>

<main>
	<div class="conteneur">
    <%- include('../partials/menu') -%>

		<div class="dashcenter">
			<%- include('../partials/User_connected')-%>
			<!-- Tableau de bord utilisateur MENU -->
			<nav class="navuser">
				<a href="/users?page=findAllUsers">Affiché</a>
				<a href="/users?page=findOneUsers">Recherché</a>
				<a href="/users?page=createUsers">Ajouter</a>
			</nav>
			<!-- Fin du menu du tableau de bord utilisateur -->

			<section class="section">
			<!-- partie visite pour controle de la gestion des sessions -->
			<h2>Gestion des utilisateurs</h2>

			<!-- Affichage du centre de la page formulaire et résultat de recherche-->
			<div>
				<% if (typeof session.page !== 'undefined') { %>
				<% if (session.page === 'findAllUsers') { %>
				<div>
					<h3>Tout les utilisateur</h3>
					<% if (typeof allUsers !== 'undefined' && allUsers.length > 0) { %>
					<table>
						<thead>
							<td>Nom</td><td>Email</td><td></td>
						</thead>
						<% allUsers.forEach(function(users) { %>
						<tr>
							<td><b><%= users.name %></b></td>
							<td><%= users.email %></td>
							<td><a href="/users/<%= users.email %>?page=modifyUsers" class="modifier">Modifier</a></td>
						</tr>	
						<% }); %>
						
					</table>
					<% } else { %>
					<p>Aucun utilisateur trouvée.</p>
					<% } %>
				</div>
				<% } else if (session.page === 'findOneUsers') { %>
					<div>
						<%- include('../partials/users/Form_find_users') -%>
					</div>
				<%} else if (session.page === 'createUsers') {%>
					<div>
						<%- include('../partials/users/Form_create_users') -%>
					</div>
				<% } else if (session.page === 'modifyUsers') {%>
                    <div>
                        <%- include('../partials/users/Form_modify_users') -%>
                    </div>
				<% } else {%>
				<p class="errmess">Variable page manquante</p> 
				<% }} %>
			</div>
			<!-- affichage de l'email demandé -->
			<% if (typeof afficheFindEmail !== 'undefined') {  %>
			<div id="reponce"> <%= afficheFindEmail %></div>
			<%  } %>
			
			</section>

		</div>
    </div>
</main>